#### Author: Faolán Hamilton

## Part 1 70%
Write a jupyter notebook that analyses the differences between the sexes by age in Ireland.

- Weighted mean age (by sex)
- The difference between the sexes by age
This part does not need to look at the regions.

i.e. You can take the notebook I used in the lectures and substitute the sexes for the regions.

## Part 2 20%
- In the same notebook, make a variable that stores an age (say 35).

- Write that code that would group the people within 5 years of that age together, into one age group 

- Calculate the population difference between the sexes in that age group.

## Part 3 10%
In the same notebook.

- Write the code that would work out which region in Ireland has the biggest population difference between the sexes in that age group

--------------------

## Weighted stats
- This notebook is made in the Programming for Data Analytics lecture on weighted descriptive statistics.
- We are looking at popultions in each county of ireland

In [1]:
import pandas as pd

In [2]:
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

The data currently list out all Local Authorities in the output. For the first section, I want to create a subset of this dataset using only Ireland level data

In [3]:
df = df[df["Administrative Counties"] == "Ireland"]
df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9696,FY006AC01,Population,2022,2022,2,Female,098,98 years,IE0,Ireland,Number,492
9728,FY006AC01,Population,2022,2022,2,Female,099,99 years,IE0,Ireland,Number,336
9760,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,IE0,Ireland,Number,584

Now I can do the code that is the prep for analysis.py  
I just noticed that there were more columns so I need to get their names

In [4]:
df

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
0,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,IE0,Ireland,Number,5149139
32,FY006AC01,Population,2022,2022,-,Both sexes,200,Under 1 year,IE0,Ireland,Number,57796
64,FY006AC01,Population,2022,2022,-,Both sexes,001,1 year,IE0,Ireland,Number,56420
96,FY006AC01,Population,2022,2022,-,Both sexes,002,2 years,IE0,Ireland,Number,59210
128,FY006AC01,Population,2022,2022,-,Both sexes,003,3 years,IE0,Ireland,Number,60484
...,...,...,...,...,...,...,...,...,...,...,...,...
9632,FY006AC01,Population,2022,2022,2,Female,096,96 years,IE0,Ireland,Number,956
9664,FY006AC01,Population,2022,2022,2,Female,097,97 years,IE0,Ireland,Number,732
9696,FY006AC01,Population,2022,2022,2,Female,098,98 years,IE0,Ireland,Number,492
9728,FY006AC01,Population,2022,2022,2,Female,099,99 years,IE0,Ireland,Number,336
9760,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,IE0,Ireland,Number,584

In [5]:
headers = df.columns.tolist()
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [6]:
drop_col_list = ['STATISTIC', 'Statistic Label','TLIST(A1)','CensusYear','C02199V02655','Sex','C02076V03371','C03789V04537','UNIT']
df.drop(columns=drop_col_list, inplace=True)

In [7]:
df = df[df["Single Year of Age"] != "All ages"]
df['Single Year of Age'] = df['Single Year of Age'].str.replace('Under 1 year', '0')
df['Single Year of Age'] = df['Single Year of Age'].str.replace('\\D', '', regex=True)

C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_24840\3184591254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Single Year of Age'] = df['Single Year of Age'].str.replace('Under 1 year', '0')
C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_24840\3184591254.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Single Year of Age'] = df['Single Year of Age'].str.replace('\\D', '', regex=True)

In [8]:
df['Single Year of Age']=df['Single Year of Age'].astype('int64')
df['VALUE']=df['VALUE'].astype('int64')
#print (df.head(3))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 303 entries, 32 to 9760
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Single Year of Age       303 non-null    int64
 1   Administrative Counties  303 non-null    object
 2   VALUE                    303 non-null    int64
dtypes: int64(2), object(1)
memory usage: 9.5+ KB

C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_24840\3093818721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Single Year of Age']=df['Single Year of Age'].astype('int64')
C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_24840\3093818721.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['VALUE']=df['VALUE'].astype('int64')

In [34]:
df['VALUE'].round(1)

32      57796
64      56420
96      59210
128     60484
160     61505
        ...
9632      956
9664      732
9696      492
9728      336
9760      584
Name: VALUE, Length: 303, dtype: int64

In [35]:
df_anal = pd.pivot_table(df, 'VALUE',"Single Year of Age","Administrative Counties")
print (df_anal.head(3))
# write out the entire file to local machine
df_anal.to_csv("population_for_analysis.csv")

Administrative Counties       Ireland
Single Year of Age
0                        38530.666667
1                        37613.333333
2                        39473.333333

---------------------------------------------------------------

## Now we can do weighted descriptive statistics

In [11]:
headers = list(df_anal.columns)
district = headers[0]
district

'Ireland'

Weighted mean is sum(age*population at age) / sum (populations at age)

In [12]:
number_people = df_anal[district].sum()
number_people

3432759.3333333335

In [13]:
df_anal

Administrative Counties       Ireland
Single Year of Age
0                        38530.666667
1                        37613.333333
2                        39473.333333
3                        40322.666667
4                        41003.333333
...                               ...
96                         855.333333
97                         632.666667
98                         414.666667
99                         294.000000
100                        492.000000

[101 rows x 1 columns]

In [14]:
cumages = df_anal[district].mul(df_anal.index, axis=0).sum()
cumages

131634718.0

In [15]:
weighted_mean = cumages/number_people
weighted_mean

38.34662008541622

#### Or you can use numpy

In [16]:
import numpy as np
w_mean = np.average(df_anal.index, weights=df_anal[district])
w_mean

38.34662008541622

### weighted median

    create a series of the cumlative sums and find the index of the middle value

In [17]:
cumsum = df_anal[district].cumsum()
cumsum

Single Year of Age
0      3.853067e+04
1      7.614400e+04
2      1.156173e+05
3      1.559400e+05
4      1.969433e+05
           ...
96     3.430926e+06
97     3.431559e+06
98     3.431973e+06
99     3.432267e+06
100    3.432759e+06
Name: Ireland, Length: 101, dtype: float64

In [18]:
# sum of all the number of people
cutoff = df_anal[district].sum()/2
cutoff

1716379.6666666667

In [19]:
df_anal[district][cumsum>=cutoff].index[0]

38

## Weighted standard deviation

The is the same formula as the normal standard deviation, just with weights applied to the differenced to the weight mean

In [20]:
# incorrect way
df_anal[district].std()

16735.958270966283

In [21]:
# incorrect
df_anal[district].mean()

33987.71617161716

We need the weighted std

In [22]:
import numpy as np
w_mean = np.average(df_anal.index, weights=df_anal[district])
w_mean

38.34662008541622

In [23]:
w_variance = np.average((df_anal.index - w_mean)**2, weights= df_anal[district])
w_variance

521.9159520076364

In [24]:
w_std = np.sqrt(w_variance)
w_std

22.845479903202655