Author: Faolán Hamilton

# Brief

The note book should have a nice pie chart of peoples email domains in the csv file at the url

https://drive.google.com/uc?id=1AWPf-pJodJKeHsARQK_RHiNsE8fjPCVK&export=download

This csv file has 1000 people. You may download the data or link to it.

In [1]:
import requests as rq

import pandas as pd

#pip install s3fs

In [2]:
data = pd.read_csv("https://drive.google.com/uc?id=1AWPf-pJodJKeHsARQK_RHiNsE8fjPCVK&export=download")

In [3]:
data

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy
3,4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer
...,...,...,...,...,...,...,...,...,...
995,996,fedF4c7Fd9e7cFa,Kurt,Bryant,Female,lyonsdaisy@example.net,021.775.2933,1959-01-05,Personnel officer
996,997,ECddaFEDdEc4FAB,Donna,Barry,Female,dariusbryan@example.com,001-149-710-7799x721,2001-10-06,Education administrator
997,998,2adde51d8B8979E,Cathy,Mckinney,Female,georgechan@example.org,+1-750-774-4128x33265,1918-05-13,Commercial/residential surveyor
998,999,Fb2FE369D1E171A,Jermaine,Phelps,Male,wanda04@example.net,(915)292-2254,1971-08-31,Ambulance person
999,1000,8b756f6231DDC6e,Lee,Tran,Female,deannablack@example.org,079.752.5424x67259,1947-01-24,"Nurse, learning disability"

In [4]:
data.iloc [0:,5]

0                pwarner@example.org
1      fergusonkatherine@example.net
2                fhoward@example.org
3              zjohnston@example.com
4                   elin@example.net
                   ...
995           lyonsdaisy@example.net
996          dariusbryan@example.com
997           georgechan@example.org
998              wanda04@example.net
999          deannablack@example.org
Name: Email, Length: 1000, dtype: object

In [12]:
org = data[data['Email'].str.contains('.org')]
org

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy
7,8,fb1BF3FED57E9d7,Doris,Andersen,Male,alicia33@example.org,4709522945,2016-12-02,Air broker
13,14,1CC30c5F204332e,Ralph,Lowe,Female,dleon@example.org,+1-511-127-6660x230,1938-04-10,"Presenter, broadcasting"
14,15,b4bE3BfBfeBC29e,Priscilla,Davis,Male,latasha46@example.org,903.545.8947,2014-03-16,"Nurse, mental health"
...,...,...,...,...,...,...,...,...,...
984,985,eB90cc8dCA28Ee3,Derrick,Stanton,Female,beasleybenjamin@example.org,+1-615-991-7499,2005-01-23,"Teacher, secondary school"
986,987,9871eF832fab828,Lonnie,Reynolds,Male,richmondgarrett@example.org,(644)362-3647x21326,1961-07-27,Architectural technologist
991,992,E6e70ad4a3d0A2c,Brittney,Trevino,Female,melendezcharlene@example.org,836-422-9878,1974-08-22,Illustrator
997,998,2adde51d8B8979E,Cathy,Mckinney,Female,georgechan@example.org,+1-750-774-4128x33265,1918-05-13,Commercial/residential surveyor
999,1000,8b756f6231DDC6e,Lee,Tran,Female,deannablack@example.org,079.752.5424x67259,1947-01-24,"Nurse, learning disability"

In [13]:
net = data[data['Email'].str.contains('.net')]
net

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer
5,6,aF75e6dDEBC5b66,Sherry,Caldwell,Male,kaitlin13@example.net,8537800927,1917-08-06,Higher education lecturer
9,10,4A42Fe10dB717CB,Harry,Mitchell,Male,lanechristina@example.net,(560)903-5068x4985,1953-06-29,Insurance account manager
11,12,86cCc6417942b4B,Sara,Huff,Male,kristy41@example.net,+1-041-859-3844x272,1964-05-21,Metallurgist
...,...,...,...,...,...,...,...,...,...
974,975,F1Ba9b3cA24bea5,Tyrone,Ponce,Male,vincentmosley@example.net,724-885-5658x9256,1973-09-28,Research scientist (life sciences)
978,979,A40e0a3df2cF0E7,Duane,English,Female,noah95@example.net,+1-062-677-0343,1958-05-30,Health visitor
990,991,CBfaec1d322EBEe,Lydia,Obrien,Male,wlove@example.net,001-076-332-8351x0833,1925-09-18,Systems analyst
995,996,fedF4c7Fd9e7cFa,Kurt,Bryant,Female,lyonsdaisy@example.net,021.775.2933,1959-01-05,Personnel officer
998,999,Fb2FE369D1E171A,Jermaine,Phelps,Male,wanda04@example.net,(915)292-2254,1971-08-31,Ambulance person

In [14]:
com = data[data['Email'].str.contains('.com')]
com

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
3,4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist
6,7,efeb05c7Cc94EA3,Ernest,Hoffman,Male,jeffharvey@example.com,093.655.7480x7895,1984-12-22,Health visitor
8,9,421fAB9a3b98F30,Cheryl,Mays,Male,jake50@example.com,013.820.4758,2012-12-16,"Designer, multimedia"
10,11,44FAA9C3CE8DB2B,Casey,Ayala,Male,ncantu@example.com,8629884096,2020-04-17,"Scientist, water quality"
12,13,CDA21B6e83Cafe3,Eddie,Barnes,Female,brandy23@example.com,801.809.9181x37308,1975-02-27,Dramatherapist
...,...,...,...,...,...,...,...,...,...
989,990,1Dba7B14a3E44EE,Omar,Kent,Male,adam69@example.com,353-282-1442x0941,1953-08-03,Horticultural consultant
992,993,54cC44b9D7fEDCF,Greg,Chapman,Female,nfisher@example.com,469-029-3564x9081,2006-02-26,Petroleum engineer
993,994,0142106d1f4CcEF,Eugene,Love,Female,qbranch@example.com,(254)352-0160x4964,1956-05-13,Hospital doctor
994,995,E54d5DDEeE6569E,Beverly,Ball,Male,charlenehuerta@example.com,573-943-0389x380,1995-07-01,Publishing rights manager
996,997,ECddaFEDdEc4FAB,Donna,Barry,Female,dariusbryan@example.com,001-149-710-7799x721,2001-10-06,Education administrator

In [19]:
numbers = (327,345,340)
print (sum(numbers))

1012

In [21]:
data['domain'] = data['Email'].str.split('@').str[1]
data['domain']

0      example.org
1      example.net
2      example.org
3      example.com
4      example.net
          ...
995    example.net
996    example.com
997    example.org
998    example.net
999    example.org
Name: domain, Length: 1000, dtype: object