#### Author: Faolán Hamilton

## Part 1 70%
Write a jupyter notebook that analyses the differences between the sexes by age in Ireland.

- Weighted mean age (by sex)
- The difference between the sexes by age
This part does not need to look at the regions.

i.e. You can take the notebook I used in the lectures and substitute the sexes for the regions.

## Part 2 20%
- In the same notebook, make a variable that stores an age (say 35).

- Write that code that would group the people within 5 years of that age together, into one age group 

- Calculate the population difference between the sexes in that age group.

## Part 3 10%
In the same notebook.

- Write the code that would work out which region in Ireland has the biggest population difference between the sexes in that age group

--------------------

## Part 1
- This notebook is for assignment 5 of the Programming for Data Analytics module. This structure has been edited from the 'weighted stats' notebook created by Andrew Beatty

In [1]:
# The first step is bringing in modules used in this notebook
import pandas as pd

In [2]:
# This is the dataset with the ages broken down by sex in Ireland
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
#Read in the url as a csv
df = pd.read_csv(url)
#Show the last three rows of data
df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

The data currently list out all Local Authorities in the output. For the first section, I want to create a subset of this dataset using only Ireland level data

In [3]:
#We only need data for Ireland, so the other rows can be removed for now
df = df[df["Administrative Counties"] == "Ireland"]
df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9696,FY006AC01,Population,2022,2022,2,Female,098,98 years,IE0,Ireland,Number,492
9728,FY006AC01,Population,2022,2022,2,Female,099,99 years,IE0,Ireland,Number,336
9760,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,IE0,Ireland,Number,584

There are a lot of columns in the dataset, but we only need 'Sex', Single Year of Age' and 'VALUE'

In [4]:
# Show all the columns in the dataset to identify which to remove
headers = df.columns.tolist()
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [5]:
#remove the headers that are not relevant
drop_col_list = ['STATISTIC', 'Statistic Label','TLIST(A1)','CensusYear','C02199V02655','C02076V03371','C03789V04537','UNIT']
df.drop(columns=drop_col_list, inplace=True)
df

             Sex  Single Year of Age Administrative Counties    VALUE
0     Both sexes            All ages                 Ireland  5149139
32    Both sexes        Under 1 year                 Ireland    57796
64    Both sexes              1 year                 Ireland    56420
96    Both sexes             2 years                 Ireland    59210
128   Both sexes             3 years                 Ireland    60484
...          ...                 ...                     ...      ...
9632      Female            96 years                 Ireland      956
9664      Female            97 years                 Ireland      732
9696      Female            98 years                 Ireland      492
9728      Female            99 years                 Ireland      336
9760      Female  100 years and over                 Ireland      584

[306 rows x 4 columns]

In [6]:
#improve the naming convention of the 'Single Year of Age'
df = df[df["Single Year of Age"] != "All ages"]
#Change 'Under 1 year' to '0'
df['Single Year of Age'] = df['Single Year of Age'].str.replace('Under 1 year', '0')
df['Single Year of Age'] = df['Single Year of Age'].str.replace('\\D', '', regex=True)
df

C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_52284\2402347282.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Single Year of Age'] = df['Single Year of Age'].str.replace('Under 1 year', '0')
C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_52284\2402347282.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Single Year of Age'] = df['Single Year of Age'].str.replace('\\D', '', regex=True)

             Sex Single Year of Age Administrative Counties  VALUE
32    Both sexes                  0                 Ireland  57796
64    Both sexes                  1                 Ireland  56420
96    Both sexes                  2                 Ireland  59210
128   Both sexes                  3                 Ireland  60484
160   Both sexes                  4                 Ireland  61505
...          ...                ...                     ...    ...
9632      Female                 96                 Ireland    956
9664      Female                 97                 Ireland    732
9696      Female                 98                 Ireland    492
9728      Female                 99                 Ireland    336
9760      Female                100                 Ireland    584

[303 rows x 4 columns]

In [7]:
#Ensure 'Single Year of Age' and 'VALUE' are integers
df['Single Year of Age']=df['Single Year of Age'].astype('int64')
df['VALUE']=df['VALUE'].astype('int64')
#print (df.head(3))
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 303 entries, 32 to 9760
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sex                      303 non-null    object
 1   Single Year of Age       303 non-null    int64
 2   Administrative Counties  303 non-null    object
 3   VALUE                    303 non-null    int64
dtypes: int64(2), object(2)
memory usage: 11.8+ KB

C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_52284\3479022079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Single Year of Age']=df['Single Year of Age'].astype('int64')
C:\Users\ClaireReilly\AppData\Local\Temp\ipykernel_52284\3479022079.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['VALUE']=df['VALUE'].astype('int64')

             Sex  Single Year of Age Administrative Counties  VALUE
32    Both sexes                   0                 Ireland  57796
64    Both sexes                   1                 Ireland  56420
96    Both sexes                   2                 Ireland  59210
128   Both sexes                   3                 Ireland  60484
160   Both sexes                   4                 Ireland  61505
...          ...                 ...                     ...    ...
9632      Female                  96                 Ireland    956
9664      Female                  97                 Ireland    732
9696      Female                  98                 Ireland    492
9728      Female                  99                 Ireland    336
9760      Female                 100                 Ireland    584

[303 rows x 4 columns]

I wanted to ensure the csv output values were rounded to whole values and found this Stackoverflow (https://stackoverflow.com/questions/76584654/python-pandas-to-csv-is-rounding-any-way-for-it-to-not-round)

In [8]:
df_analysis = pd.pivot_table(df,'VALUE',"Single Year of Age", 'Sex')
# write out the entire file to local machine
df_analysis.to_csv(f"assignment05_population_for_analysis.csv", float_format='%.0f')
print (df_analysis.head(3))

Sex                 Both sexes   Female     Male
Single Year of Age
0                      57796.0  28186.0  29610.0
1                      56420.0  27545.0  28875.0
2                      59210.0  28974.0  30236.0

---------------------------------------------------------------

## Now we can do weighted descriptive statistics

In [9]:
headers = list(df_analysis.columns)
district = headers[0]
district

'Both sexes'

Weighted mean is sum(age*population at age) / sum (populations at age)

In [10]:
number_people = df_analysis[district].sum()
number_people

5149139.0

In [11]:
df_analysis

Sex                 Both sexes   Female     Male
Single Year of Age
0                      57796.0  28186.0  29610.0
1                      56420.0  27545.0  28875.0
2                      59210.0  28974.0  30236.0
3                      60484.0  29483.0  31001.0
4                      61505.0  29819.0  31686.0
...                        ...      ...      ...
96                      1283.0    956.0    327.0
97                       949.0    732.0    217.0
98                       622.0    492.0    130.0
99                       441.0    336.0    105.0
100                      738.0    584.0    154.0

[101 rows x 3 columns]

In [12]:
cumages = df_analysis[district].mul(df_analysis.index, axis=0).sum()
cumages

197452077.0

In [13]:
weighted_mean = cumages/number_people
weighted_mean

38.34662008541622

#### Or you can use numpy

In [14]:
import numpy as np
w_mean = np.average(df_analysis.index, weights=df_analysis[district])
w_mean

38.34662008541622

### weighted median

    create a series of the cumlative sums and find the index of the middle value

In [15]:
cumsum = df_analysis[district].cumsum()
cumsum

Single Year of Age
0        57796.0
1       114216.0
2       173426.0
3       233910.0
4       295415.0
         ...
96     5146389.0
97     5147338.0
98     5147960.0
99     5148401.0
100    5149139.0
Name: Both sexes, Length: 101, dtype: float64

In [16]:
# sum of all the number of people
cutoff = df_analysis[district].sum()/2
cutoff

2574569.5

In [17]:
df_analysis[district][cumsum>=cutoff].index[0]

38

## Weighted standard deviation

The is the same formula as the normal standard deviation, just with weights applied to the differenced to the weight mean

In [18]:
# incorrect way
df_analysis[district].std()

25103.937406449426

In [19]:
# incorrect
df_analysis[district].mean()

50981.574257425746

We need the weighted std

In [20]:
import numpy as np
w_mean = np.average(df_analysis.index, weights=df_analysis[district])
w_mean

38.34662008541622

In [21]:
w_variance = np.average((df_analysis.index - w_mean)**2, weights= df_analysis[district])
w_variance

521.9159520076365

In [22]:
w_std = np.sqrt(w_variance)
w_std

22.84547990320266